<a href="https://colab.research.google.com/github/soumodeep60/SQL/blob/main/SQL_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get update > null
!apt-get -y install mysql-server > null

In [2]:
!/etc/init.d/mysql restart

 * Stopping MySQL database server mysqld
   ...done.
 * Starting MySQL database server mysqld
No directory, logging in with HOME=/
   ...done.

In [3]:
!mysql --version

mysql  Ver 14.14 Distrib 5.7.39, for Linux (x86_64) using  EditLine wrapper

In [4]:
!mysql -e 'create database Soumo_DB'
!mysql -e 'show databases'

+--------------------+
| Database           |
+--------------------+
| information_schema |
| Soumo_DB           |
| mysql              |
| performance_schema |
| sys                |
+--------------------+

In [5]:
!gdown  https://drive.google.com/uc?id=1rCDmfQ2Mjc5_s6BwRrd7EV9AxbGEnK0s
!gdown  https://drive.google.com/uc?id=11hvDdwhPpa9D7UcAFiKQ0xZz2A-gy6IE

Downloading...
From: https://drive.google.com/uc?id=1rCDmfQ2Mjc5_s6BwRrd7EV9AxbGEnK0s
To: /content/emp.csv
100% 734/734 [00:00<00:00, 1.22MB/s]
Downloading...
From: https://drive.google.com/uc?id=11hvDdwhPpa9D7UcAFiKQ0xZz2A-gy6IE
To: /content/dept.csv
100% 148/148 [00:00<00:00, 260kB/s]

In [6]:
!ls

dept.csv  emp.csv  null  sample_data

In [7]:
!mysql Soumo_DB -e 'drop table empl'
!mysql Soumo_DB -e 'create table empl (empid char(6),lastname varchar(20), firstname varchar(20), jobdesc varchar(10), joindate date, salary int, comm decimal(3,2), deptid char(2));'
!mysql Soumo_DB -e 'drop table dept'
!mysql Soumo_DB -e 'create table dept (deptid char(2),deptname varchar(20), managerid char(6), location varchar(10));'

ERROR 1051 (42S02) at line 1: Unknown table 'Soumo_DB.empl'
ERROR 1051 (42S02) at line 1: Unknown table 'Soumo_DB.dept'

In [8]:
!mysql Soumo_DB -e 'desc empl'
!mysql Soumo_DB -e 'desc dept'

+-----------+--------------+------+-----+---------+-------+
| Field     | Type         | Null | Key | Default | Extra |
+-----------+--------------+------+-----+---------+-------+
| empid     | char(6)      | YES  |     | NULL    |       |
| lastname  | varchar(20)  | YES  |     | NULL    |       |
| firstname | varchar(20)  | YES  |     | NULL    |       |
| jobdesc   | varchar(10)  | YES  |     | NULL    |       |
| joindate  | date         | YES  |     | NULL    |       |
| salary    | int(11)      | YES  |     | NULL    |       |
| comm      | decimal(3,2) | YES  |     | NULL    |       |
| deptid    | char(2)      | YES  |     | NULL    |       |
+-----------+--------------+------+-----+---------+-------+
+-----------+-------------+------+-----+---------+-------+
| Field     | Type        | Null | Key | Default | Extra |
+-----------+-------------+------+-----+---------+-------+
| deptid    | char(2)     | YES  |     | NULL    |       |
| deptname  | varchar(20) | YES  |     | NULL    |       |
| managerid | char(6)     | YES  |     | NULL    |       |
| location  | varchar(10) | YES  |     | NULL    |       |
+-----------+-------------+------+-----+---------+-------+

In [9]:
!mysql Soumo_DB -e "LOAD DATA LOCAL INFILE 'emp.csv' INTO TABLE empl FIELDS TERMINATED BY ',' IGNORE 1 LINES;"
!mysql Soumo_DB -e "LOAD DATA LOCAL INFILE 'dept.csv' INTO TABLE dept FIELDS TERMINATED BY ',' LINES TERMINATED BY '\r\n'  IGNORE 1 LINES;"

In [10]:
!mysql Soumo_DB -e 'select * from empl'

+--------+-------------+-----------+------------+------------+--------+------+--------+
| empid  | lastname    | firstname | jobdesc    | joindate   | salary | comm | deptid |
+--------+-------------+-----------+------------+------------+--------+------+--------+
| 742866 | Bacchan     | Amitabh   | Executive  | 2003-03-10 |  50000 | 0.10 | 10     |
| 349870 | Mukherjee   | Rani      | Manager    | 2005-05-04 |  25000 | 0.06 | 40     |
| 865477 | Dikshit     | Madhuri   | Clerk      | 2002-04-04 |  10000 | 0.02 | 20     |
| 239456 | Khan        | Shahrukh  | Manager    | 2004-01-03 |  30000 | 0.07 | 20     |
| 897889 | Sehwag      | Virender  | Cus_Rep    | 2005-01-02 |  15000 | 0.05 | 20     |
| 123980 | Dhoni       | Mahender  | Clerk      | 2004-10-09 |   9000 | 0.02 | 40     |
| 822134 | Dravid      | Rahul     | Sr Manager | 2000-06-04 |  40000 | 0.08 | 30     |
| 997445 | Dalmia      | Jagmohan  | Clerk      | 2001-07-01 |  12000 | 0.02 | 30     |
| 989007 | Ganguly     | Sourav    | Cus_Rep    | 2002-01-01 |  20000 | 0.03 | 40     |
| 299034 | Ganesan     | Rekha     | Director   | 2002-10-10 |  60000 | 0.11 | 10     |
| 546223 | Karthikeyan | Narayan   | Secretary  | 2005-12-04 |  40000 | 0.09 | 10     |
| 223112 | Mirza       | Sania     | Cus_Rep    | 2001-11-19 |  25000 | 0.04 | 30     |
+--------+-------------+-----------+------------+------------+--------+------+--------+

In [11]:
!mysql Soumo_DB -e 'select * from dept'

+--------+------------+-----------+----------+
| deptid | deptname   | managerid | location |
+--------+------------+-----------+----------+
| 10     | Corporate  | 299034    | Calcutta |
| 20     | Sales      | 239456    | Calcutta |
| 30     | Accounts   | 822134    | Calcutta |
| 40     | Production | 349870    | Bombay   |
+--------+------------+-----------+----------+

# B

In [12]:
!mysql Soumo_DB -e 'select lastname,jobdesc from empl'

+-------------+------------+
| lastname    | jobdesc    |
+-------------+------------+
| Bacchan     | Executive  |
| Mukherjee   | Manager    |
| Dikshit     | Clerk      |
| Khan        | Manager    |
| Sehwag      | Cus_Rep    |
| Dhoni       | Clerk      |
| Dravid      | Sr Manager |
| Dalmia      | Clerk      |
| Ganguly     | Cus_Rep    |
| Ganesan     | Director   |
| Karthikeyan | Secretary  |
| Mirza       | Cus_Rep    |
+-------------+------------+

In [13]:
!mysql Soumo_DB -e 'select distinct jobdesc,lastname from empl'

+------------+-------------+
| jobdesc    | lastname    |
+------------+-------------+
| Executive  | Bacchan     |
| Manager    | Mukherjee   |
| Clerk      | Dikshit     |
| Manager    | Khan        |
| Cus_Rep    | Sehwag      |
| Clerk      | Dhoni       |
| Sr Manager | Dravid      |
| Clerk      | Dalmia      |
| Cus_Rep    | Ganguly     |
| Director   | Ganesan     |
| Secretary  | Karthikeyan |
| Cus_Rep    | Mirza       |
+------------+-------------+

In [23]:
!mysql Soumo_DB -e 'select firstname,lastname,jobdesc,salary from empl where salary>30000';

+-----------+-------------+------------+--------+
| firstname | lastname    | jobdesc    | salary |
+-----------+-------------+------------+--------+
| Amitabh   | Bacchan     | Executive  |  50000 |
| Rahul     | Dravid      | Sr Manager |  40000 |
| Rekha     | Ganesan     | Director   |  60000 |
| Narayan   | Karthikeyan | Secretary  |  40000 |
+-----------+-------------+------------+--------+

In [25]:
!mysql Soumo_DB -e 'select firstname,lastname,jobdesc,salary from empl where salary<>30000';

+-----------+-------------+------------+--------+
| firstname | lastname    | jobdesc    | salary |
+-----------+-------------+------------+--------+
| Amitabh   | Bacchan     | Executive  |  50000 |
| Rani      | Mukherjee   | Manager    |  25000 |
| Madhuri   | Dikshit     | Clerk      |  10000 |
| Virender  | Sehwag      | Cus_Rep    |  15000 |
| Mahender  | Dhoni       | Clerk      |   9000 |
| Rahul     | Dravid      | Sr Manager |  40000 |
| Jagmohan  | Dalmia      | Clerk      |  12000 |
| Sourav    | Ganguly     | Cus_Rep    |  20000 |
| Rekha     | Ganesan     | Director   |  60000 |
| Narayan   | Karthikeyan | Secretary  |  40000 |
| Sania     | Mirza       | Cus_Rep    |  25000 |
+-----------+-------------+------------+--------+

In [34]:
!mysql Soumo_DB -e 'select firstname,lastname,jobdesc from empl where jobdesc="Clerk"';

+-----------+----------+---------+
| firstname | lastname | jobdesc |
+-----------+----------+---------+
| Madhuri   | Dikshit  | Clerk   |
| Mahender  | Dhoni    | Clerk   |
| Jagmohan  | Dalmia   | Clerk   |
+-----------+----------+---------+

In [32]:
!mysql Soumo_DB -e 'select firstname,jobdesc from empl where lastname like "D%"';

+-----------+------------+
| firstname | jobdesc    |
+-----------+------------+
| Madhuri   | Clerk      |
| Mahender  | Clerk      |
| Rahul     | Sr Manager |
| Jagmohan  | Clerk      |
+-----------+------------+

In [36]:
!mysql Soumo_DB -e 'select firstname,lastname,jobdesc from empl where lastname like "____i_"';

+-----------+----------+------------+
| firstname | lastname | jobdesc    |
+-----------+----------+------------+
| Rahul     | Dravid   | Sr Manager |
| Jagmohan  | Dalmia   | Clerk      |
+-----------+----------+------------+

In [38]:
!mysql Soumo_DB -e 'select firstname,lastname,jobdesc from empl where lastname like "____i%"';

+-----------+----------+------------+
| firstname | lastname | jobdesc    |
+-----------+----------+------------+
| Mahender  | Dhoni    | Clerk      |
| Rahul     | Dravid   | Sr Manager |
| Jagmohan  | Dalmia   | Clerk      |
+-----------+----------+------------+

In [39]:
!mysql Soumo_DB -e 'select firstname,lastname,jobdesc,salary from empl where salary between 10000 and 30000';

+-----------+-----------+---------+--------+
| firstname | lastname  | jobdesc | salary |
+-----------+-----------+---------+--------+
| Rani      | Mukherjee | Manager |  25000 |
| Madhuri   | Dikshit   | Clerk   |  10000 |
| Shahrukh  | Khan      | Manager |  30000 |
| Virender  | Sehwag    | Cus_Rep |  15000 |
| Jagmohan  | Dalmia    | Clerk   |  12000 |
| Sourav    | Ganguly   | Cus_Rep |  20000 |
| Sania     | Mirza     | Cus_Rep |  25000 |
+-----------+-----------+---------+--------+

In [43]:
!mysql Soumo_DB -e 'select firstname,lastname,jobdesc,deptid from empl where deptid in ("40","20","30")';

+-----------+-----------+------------+--------+
| firstname | lastname  | jobdesc    | deptid |
+-----------+-----------+------------+--------+
| Rani      | Mukherjee | Manager    | 40     |
| Madhuri   | Dikshit   | Clerk      | 20     |
| Shahrukh  | Khan      | Manager    | 20     |
| Virender  | Sehwag    | Cus_Rep    | 20     |
| Mahender  | Dhoni     | Clerk      | 40     |
| Rahul     | Dravid    | Sr Manager | 30     |
| Jagmohan  | Dalmia    | Clerk      | 30     |
| Sourav    | Ganguly   | Cus_Rep    | 40     |
| Sania     | Mirza     | Cus_Rep    | 30     |
+-----------+-----------+------------+--------+

In [45]:
!mysql Soumo_DB -e 'select joindate,firstname,lastname,jobdesc,salary from empl order by joindate';

+------------+-----------+-------------+------------+--------+
| joindate   | firstname | lastname    | jobdesc    | salary |
+------------+-----------+-------------+------------+--------+
| 2000-06-04 | Rahul     | Dravid      | Sr Manager |  40000 |
| 2001-07-01 | Jagmohan  | Dalmia      | Clerk      |  12000 |
| 2001-11-19 | Sania     | Mirza       | Cus_Rep    |  25000 |
| 2002-01-01 | Sourav    | Ganguly     | Cus_Rep    |  20000 |
| 2002-04-04 | Madhuri   | Dikshit     | Clerk      |  10000 |
| 2002-10-10 | Rekha     | Ganesan     | Director   |  60000 |
| 2003-03-10 | Amitabh   | Bacchan     | Executive  |  50000 |
| 2004-01-03 | Shahrukh  | Khan        | Manager    |  30000 |
| 2004-10-09 | Mahender  | Dhoni       | Clerk      |   9000 |
| 2005-01-02 | Virender  | Sehwag      | Cus_Rep    |  15000 |
| 2005-05-04 | Rani      | Mukherjee   | Manager    |  25000 |
| 2005-12-04 | Narayan   | Karthikeyan | Secretary  |  40000 |
+------------+-----------+-------------+------------+--------+

In [46]:
!mysql Soumo_DB -e 'select firstname,lastname,jobdesc,deptid from empl where deptid in ("40","20","30") order by deptid';

+-----------+-----------+------------+--------+
| firstname | lastname  | jobdesc    | deptid |
+-----------+-----------+------------+--------+
| Madhuri   | Dikshit   | Clerk      | 20     |
| Shahrukh  | Khan      | Manager    | 20     |
| Virender  | Sehwag    | Cus_Rep    | 20     |
| Rahul     | Dravid    | Sr Manager | 30     |
| Jagmohan  | Dalmia    | Clerk      | 30     |
| Sania     | Mirza     | Cus_Rep    | 30     |
| Rani      | Mukherjee | Manager    | 40     |
| Mahender  | Dhoni     | Clerk      | 40     |
| Sourav    | Ganguly   | Cus_Rep    | 40     |
+-----------+-----------+------------+--------+

In [47]:
!mysql Soumo_DB -e 'select firstname,lastname,jobdesc,deptid from empl where deptid="20" and salary>10000';

+-----------+----------+---------+--------+
| firstname | lastname | jobdesc | deptid |
+-----------+----------+---------+--------+
| Shahrukh  | Khan     | Manager | 20     |
| Virender  | Sehwag   | Cus_Rep | 20     |
+-----------+----------+---------+--------+

In [50]:
!mysql Soumo_DB -e 'select firstname,lastname,jobdesc,deptid from empl where deptid="20" and salary>10000 and jobdesc="Clerk"';

In [53]:
!mysql Soumo_DB -e 'select firstname,lastname,jobdesc from empl where jobdesc like "%Manager" or salary>25000';

+-----------+-------------+------------+
| firstname | lastname    | jobdesc    |
+-----------+-------------+------------+
| Amitabh   | Bacchan     | Executive  |
| Rani      | Mukherjee   | Manager    |
| Shahrukh  | Khan        | Manager    |
| Rahul     | Dravid      | Sr Manager |
| Rekha     | Ganesan     | Director   |
| Narayan   | Karthikeyan | Secretary  |
+-----------+-------------+------------+

In [54]:
!mysql Soumo_DB -e 'select firstname,lastname,jobdesc from empl where jobdesc like "%Manager" or salary>25000 or firstname="Madhuri"';

+-----------+-------------+------------+
| firstname | lastname    | jobdesc    |
+-----------+-------------+------------+
| Amitabh   | Bacchan     | Executive  |
| Rani      | Mukherjee   | Manager    |
| Madhuri   | Dikshit     | Clerk      |
| Shahrukh  | Khan        | Manager    |
| Rahul     | Dravid      | Sr Manager |
| Rekha     | Ganesan     | Director   |
| Narayan   | Karthikeyan | Secretary  |
+-----------+-------------+------------+

In [55]:
!mysql Soumo_DB -e 'select firstname,lastname,jobdesc from empl where jobdesc like "%Manager" or jobdesc like "%Cus_rep" or salary<16000';

+-----------+-----------+------------+
| firstname | lastname  | jobdesc    |
+-----------+-----------+------------+
| Rani      | Mukherjee | Manager    |
| Madhuri   | Dikshit   | Clerk      |
| Shahrukh  | Khan      | Manager    |
| Virender  | Sehwag    | Cus_Rep    |
| Mahender  | Dhoni     | Clerk      |
| Rahul     | Dravid    | Sr Manager |
| Jagmohan  | Dalmia    | Clerk      |
| Sourav    | Ganguly   | Cus_Rep    |
| Sania     | Mirza     | Cus_Rep    |
+-----------+-----------+------------+

In [56]:
!mysql Soumo_DB -e 'select firstname,lastname,jobdesc from empl where (jobdesc like "%Manager" or jobdesc like "%Cus_rep") or salary<16000';

+-----------+-----------+------------+
| firstname | lastname  | jobdesc    |
+-----------+-----------+------------+
| Rani      | Mukherjee | Manager    |
| Madhuri   | Dikshit   | Clerk      |
| Shahrukh  | Khan      | Manager    |
| Virender  | Sehwag    | Cus_Rep    |
| Mahender  | Dhoni     | Clerk      |
| Rahul     | Dravid    | Sr Manager |
| Jagmohan  | Dalmia    | Clerk      |
| Sourav    | Ganguly   | Cus_Rep    |
| Sania     | Mirza     | Cus_Rep    |
+-----------+-----------+------------+

# f

In [57]:
!mysql Soumo_DB -e 'select empid,salary,comm,salary+comm*salary from empl where deptid=30';

+--------+--------+------+--------------------+
| empid  | salary | comm | salary+comm*salary |
+--------+--------+------+--------------------+
| 822134 |  40000 | 0.08 |           43200.00 |
| 997445 |  12000 | 0.02 |           12240.00 |
| 223112 |  25000 | 0.04 |           26000.00 |
+--------+--------+------+--------------------+

In [59]:
!mysql Soumo_DB -e 'select concat("Mr",substring(firstname,1,1),lastname) from empl where empid=742866';

+------------------------------------------------+
| concat("Mr",substring(firstname,1,1),lastname) |
+------------------------------------------------+
| MrABacchan                                     |
+------------------------------------------------+

In [60]:
!mysql Soumo_DB -e 'select sum(salary) from empl';
!mysql Soumo_DB -e 'select avg(salary) from empl';
!mysql Soumo_DB -e 'select min(salary) from empl';
!mysql Soumo_DB -e 'select max(salary) from empl';
!mysql Soumo_DB -e 'select count(salary) from empl';

+-------------+
| sum(salary) |
+-------------+
|      336000 |
+-------------+
+-------------+
| avg(salary) |
+-------------+
|  28000.0000 |
+-------------+
+-------------+
| min(salary) |
+-------------+
|        9000 |
+-------------+
+-------------+
| max(salary) |
+-------------+
|       60000 |
+-------------+
+---------------+
| count(salary) |
+---------------+
|            12 |
+---------------+

In [61]:
!mysql Soumo_DB -e 'select deptid,sum(salary) from empl group by deptid';

+--------+-------------+
| deptid | sum(salary) |
+--------+-------------+
| 10     |      150000 |
| 20     |       55000 |
| 30     |       77000 |
| 40     |       54000 |
+--------+-------------+

In [63]:
!mysql Soumo_DB -e 'select deptid,sum(salary) from empl group by deptid having sum(salary)>100000';

+--------+-------------+
| deptid | sum(salary) |
+--------+-------------+
| 10     |      150000 |
+--------+-------------+

In [65]:
!mysql Soumo_DB -e 'select empid,lastname,current_date(),joindate,date_format(joindate,"%d%m%y") as joindate2,datediff(current_date(),joindate) as days_since from empl';

+--------+-------------+----------------+------------+-----------+------------+
| empid  | lastname    | current_date() | joindate   | joindate2 | days_since |
+--------+-------------+----------------+------------+-----------+------------+
| 742866 | Bacchan     | 2022-09-03     | 2003-03-10 | 100303    |       7117 |
| 349870 | Mukherjee   | 2022-09-03     | 2005-05-04 | 040505    |       6331 |
| 865477 | Dikshit     | 2022-09-03     | 2002-04-04 | 040402    |       7457 |
| 239456 | Khan        | 2022-09-03     | 2004-01-03 | 030104    |       6818 |
| 897889 | Sehwag      | 2022-09-03     | 2005-01-02 | 020105    |       6453 |
| 123980 | Dhoni       | 2022-09-03     | 2004-10-09 | 091004    |       6538 |
| 822134 | Dravid      | 2022-09-03     | 2000-06-04 | 040600    |       8126 |
| 997445 | Dalmia      | 2022-09-03     | 2001-07-01 | 010701    |       7734 |
| 989007 | Ganguly     | 2022-09-03     | 2002-01-01 | 010102    |       7550 |
| 299034 | Ganesan     | 2022-09-03     | 2002-10-10 | 101002    |       7268 |
| 546223 | Karthikeyan | 2022-09-03     | 2005-12-04 | 041205    |       6117 |
| 223112 | Mirza       | 2022-09-03     | 2001-11-19 | 191101    |       7593 |
+--------+-------------+----------------+------------+-----------+------------+

In [68]:
!mysql Soumo_DB -e 'update dept set managerid=123456 where deptid=40';

In [69]:
!mysql Soumo_DB -e 'select empid,firstname,lastname from empl,dept where empl.deptid=dept.deptid';

+--------+-----------+-------------+
| empid  | firstname | lastname    |
+--------+-----------+-------------+
| 742866 | Amitabh   | Bacchan     |
| 349870 | Rani      | Mukherjee   |
| 865477 | Madhuri   | Dikshit     |
| 239456 | Shahrukh  | Khan        |
| 897889 | Virender  | Sehwag      |
| 123980 | Mahender  | Dhoni       |
| 822134 | Rahul     | Dravid      |
| 997445 | Jagmohan  | Dalmia      |
| 989007 | Sourav    | Ganguly     |
| 299034 | Rekha     | Ganesan     |
| 546223 | Narayan   | Karthikeyan |
| 223112 | Sania     | Mirza       |
+--------+-----------+-------------+

In [71]:
!mysql Soumo_DB -e 'select lastname,jobdesc,salary, empl.deptid, round(deptavg,0) deptaverage, salary/deptavg relative from empl, ( select deptid, avg(salary) deptavg from empl group by deptid ) deptsalary where empl.deptid = deptsalary.deptid';

+-------------+------------+--------+--------+-------------+----------+
| lastname    | jobdesc    | salary | deptid | deptaverage | relative |
+-------------+------------+--------+--------+-------------+----------+
| Bacchan     | Executive  |  50000 | 10     |       50000 |   1.0000 |
| Mukherjee   | Manager    |  25000 | 40     |       18000 |   1.3889 |
| Dikshit     | Clerk      |  10000 | 20     |       18333 |   0.5455 |
| Khan        | Manager    |  30000 | 20     |       18333 |   1.6364 |
| Sehwag      | Cus_Rep    |  15000 | 20     |       18333 |   0.8182 |
| Dhoni       | Clerk      |   9000 | 40     |       18000 |   0.5000 |
| Dravid      | Sr Manager |  40000 | 30     |       25667 |   1.5584 |
| Dalmia      | Clerk      |  12000 | 30     |       25667 |   0.4675 |
| Ganguly     | Cus_Rep    |  20000 | 40     |       18000 |   1.1111 |
| Ganesan     | Director   |  60000 | 10     |       50000 |   1.2000 |
| Karthikeyan | Secretary  |  40000 | 10     |       50000 |   0.8000 |
| Mirza       | Cus_Rep    |  25000 | 30     |       25667 |   0.9740 |
+-------------+------------+--------+--------+-------------+----------+

In [78]:
!mysql Soumo_DB -e 'select w.lastname, w.deptid, " => ", d.deptid ,d.managerid," <= ", m.empid, m.lastname from empl w, dept d, empl m where w.deptid = d.deptid  and d.managerid = m.empid';

+-------------+--------+------+--------+-----------+------+--------+----------+
| lastname    | deptid | =>   | deptid | managerid | <=   | empid  | lastname |
+-------------+--------+------+--------+-----------+------+--------+----------+
| Dikshit     | 20     |  =>  | 20     | 239456    |  <=  | 239456 | Khan     |
| Khan        | 20     |  =>  | 20     | 239456    |  <=  | 239456 | Khan     |
| Sehwag      | 20     |  =>  | 20     | 239456    |  <=  | 239456 | Khan     |
| Dravid      | 30     |  =>  | 30     | 822134    |  <=  | 822134 | Dravid   |
| Dalmia      | 30     |  =>  | 30     | 822134    |  <=  | 822134 | Dravid   |
| Mirza       | 30     |  =>  | 30     | 822134    |  <=  | 822134 | Dravid   |
| Bacchan     | 10     |  =>  | 10     | 299034    |  <=  | 299034 | Ganesan  |
| Ganesan     | 10     |  =>  | 10     | 299034    |  <=  | 299034 | Ganesan  |
| Karthikeyan | 10     |  =>  | 10     | 299034    |  <=  | 299034 | Ganesan  |
+-------------+--------+------+--------+-----------+------+--------+----------+

In [103]:
!mysql Soumo_DB -e 'select w.lastname, w.deptid, " == ", d.deptid ,d.managerid," == ", m.empid, m.lastname from empl w, dept d, empl m where w.deptid = d.deptid   and d.managerid = m.empid';

+-------------+--------+------+--------+-----------+------+--------+----------+
| lastname    | deptid | ==   | deptid | managerid | ==   | empid  | lastname |
+-------------+--------+------+--------+-----------+------+--------+----------+
| Dikshit     | 20     |  ==  | 20     | 239456    |  ==  | 239456 | Khan     |
| Khan        | 20     |  ==  | 20     | 239456    |  ==  | 239456 | Khan     |
| Sehwag      | 20     |  ==  | 20     | 239456    |  ==  | 239456 | Khan     |
| Dravid      | 30     |  ==  | 30     | 822134    |  ==  | 822134 | Dravid   |
| Dalmia      | 30     |  ==  | 30     | 822134    |  ==  | 822134 | Dravid   |
| Mirza       | 30     |  ==  | 30     | 822134    |  ==  | 822134 | Dravid   |
| Bacchan     | 10     |  ==  | 10     | 299034    |  ==  | 299034 | Ganesan  |
| Ganesan     | 10     |  ==  | 10     | 299034    |  ==  | 299034 | Ganesan  |
| Karthikeyan | 10     |  ==  | 10     | 299034    |  ==  | 299034 | Ganesan  |
+-------------+--------+------+--------+-----------+------+--------+----------+

# d

In [99]:
!mysql Soumo_DB -e 'select lastname, salary, comm comm_rate, round(salary+salary*comm,0) as payout,  location, if(location = "Bombay" ,salary+salary*comm + 2000, salary+salary*comm) VarPayout from empl, dept where empl.deptid = dept.deptid'

+-------------+--------+-----------+--------+----------+-----------+
| lastname    | salary | comm_rate | payout | location | VarPayout |
+-------------+--------+-----------+--------+----------+-----------+
| Bacchan     |  50000 |      0.10 |  55000 | Calcutta |  55000.00 |
| Mukherjee   |  25000 |      0.06 |  26500 | Bombay   |  28500.00 |
| Dikshit     |  10000 |      0.02 |  10200 | Calcutta |  10200.00 |
| Khan        |  30000 |      0.07 |  32100 | Calcutta |  32100.00 |
| Sehwag      |  15000 |      0.05 |  15750 | Calcutta |  15750.00 |
| Dhoni       |   9000 |      0.02 |   9180 | Bombay   |  11180.00 |
| Dravid      |  40000 |      0.08 |  43200 | Calcutta |  43200.00 |
| Dalmia      |  12000 |      0.02 |  12240 | Calcutta |  12240.00 |
| Ganguly     |  20000 |      0.03 |  20600 | Bombay   |  22600.00 |
| Ganesan     |  60000 |      0.11 |  66600 | Calcutta |  66600.00 |
| Karthikeyan |  40000 |      0.09 |  43600 | Calcutta |  43600.00 |
| Mirza       |  25000 |      0.04 |  26000 | Calcutta |  26000.00 |
+-------------+--------+-----------+--------+----------+-----------+

In [102]:
!mysql Soumo_DB -e 'select lastname, jobdesc, location,(case when location = "Calcutta" then "head-office" when location = "Bombay" then "regional office" else "branch-office" end) as office from empl, dept where empl.deptid = dept.deptid'

+-------------+------------+----------+-----------------+
| lastname    | jobdesc    | location | office          |
+-------------+------------+----------+-----------------+
| Bacchan     | Executive  | Calcutta | head-office     |
| Mukherjee   | Manager    | Bombay   | regional office |
| Dikshit     | Clerk      | Calcutta | head-office     |
| Khan        | Manager    | Calcutta | head-office     |
| Sehwag      | Cus_Rep    | Calcutta | head-office     |
| Dhoni       | Clerk      | Bombay   | regional office |
| Dravid      | Sr Manager | Calcutta | head-office     |
| Dalmia      | Clerk      | Calcutta | head-office     |
| Ganguly     | Cus_Rep    | Bombay   | regional office |
| Ganesan     | Director   | Calcutta | head-office     |
| Karthikeyan | Secretary  | Calcutta | head-office     |
| Mirza       | Cus_Rep    | Calcutta | head-office     |
+-------------+------------+----------+-----------------+